.background-gradient(@top, @bottom) {
    //background:                     @bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, from(@top), to(@bottom)); 
    background-image: -webkit-linear-gradient( @top , @bottom ); 
    background-image:    -moz-linear-gradient( @top , @bottom ); 
    background-image:     -ms-linear-gradient( @top , @bottom ); 
    background-image:      -o-linear-gradient( @top , @bottom ); 
    background-image:         linear-gradient( @top , @bottom );
}




body {
    background-color: black;
}

#header {
    height: 118px;
    background-color: rgb(244, 244, 244);
    border-bottom: 5px solid rgb(224, 109, 30);
    border-top: 2px solid black;
    position: relative;
    #header-right-upper-links {
        padding-top: 20px;
        a:hover {
            
        }
        .link-text {
            color: black;
            text-decoration: underline;
        }
    }
    .logo {
        position: absolute;
        padding:0;
        margin:0;
        top: 0px;
        
        img {
            width: 278px;
            height: 118px;
        }
    }
    .navbar {
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 0;
        height: 40px;
        z-index: 10;
        .navbar-inner {
            margin-left: 90px;
            border: none;
            box-shadow: none;
            background-color: transparent;
            background-image: none;
            .nav {
                .active a {
                    background-image: url("../images/orange_table.png");
                    box-shadow: none;
                    color: white;
                }
                li {
                    font-size: 17px;
                    width: 160px;
                    text-align: center;
                    line-height: 40px;
                    &.small {
                        font-size: 12px;
                        line-height: 20px;
                    }
                    a {
                        padding: 0;
                        font-family: serif;
                        color: black;
                        text-shadow: none;
                    }
                }
            }
        }
    }
}

#content {
    color: white;
    background-color: black;
    border-top: 1px solid rgb(84, 84, 84);
    .link-hierarchy {
        font-size: 12px;
        line-height: 25px;
        height: 25px;
        .container {
            padding-left: 40px;
        }
        padding-left: 40px;
        background-color: rgb(62, 45, 37);
        a {
            color: white;
            text-decoration: underline;
        }
    }
    #menu-banner {
        background-color: black;
        text-align: center;
        border-bottom: 1px solid rgb(84, 84, 84);
        img {
            width: 941px;
            height: 117px;
        }
    }
    #slide-section {
        background-image: url(../images/takumi.png);
        background-repeat: no-repeat;
        background-position: 125% top;
        #top-slide-show-box {
            
            height: 360px;
            padding-top: 10px;
            .carousel {
                padding-bottom: 0;
                margin-bottom: 0;
            }
            .carousel-inner {
                .item {
                    height: 320px;
                    img{
                        width: 960px;
                        height: 320px;
                    }
                }
            }
            .carousel-indicators {
                height: 30px;
                li {
                    padding: 0;
                    margin: 0;
                    width: 10px;
                    height: 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-left: 5px;
                    margin-right: 5px;
                    background-color: white;
                }
                .active {
                    background-color: orange;
                }
                //padding-top: 10px;
                position: static;
                width: 20px * 5;
                margin: 0 auto;
            }
        }
    }
    #menu-section {
        padding-bottom: 50px;
        .breadcrumb {
            background-color: transparent;
            padding: 0;
            margin: 0;
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 20px;
            li {
                background-image: url("../images/enum_leader.png");
                background-repeat: no-repeat;
                background-position: left center;
                padding-left: 16px;
                padding-right: 20px;
                color: white;
                font-family: serif;
                font-size: 12px;
                line-height: 16px;
                a {
                    display: inline-block;
                    color: white;
                    text-shadow: none;
                }
            }
        }
        .menu-box {
            clear: left;
            padding-top: 30px;
            padding-left: 20px;
            h3 {
                padding: 0;
                margin: 0;
                font-weight: normal;
                font-family: serif;
                font-size: 14px;
                line-height: 22px;
                border-bottom: 1px dotted white;
                margin-bottom: 10px;
                padding-left: 5px;
            }
            .menu-content {
                padding-left: 10px;
                padding-right: 10px;
                .row-fluid {
                    padding-top: 10px;
                    .span4 {
                        min-height: 0px;
                    }
                }
                h4 {
                    padding: 0;
                    margin: 0;
                    font-size: 14px;
                    line-height: 20px;
                }
                img {
                    display: block;
                    padding-top: 5px;
                    padding-bottom: 10px;
                    width: 100%;
                }
            }
            
        }
    }

    #news-section {
        border-top: 1px solid rgb(63, 55, 49);
        ul.news-list {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-top: 10px;
            padding-left: 10px;
            li {
                font-size: 12px;
                padding: 0;
                margin: 0;
                line-height: 25px;
                width: 100%;
                clear: left;
                .date {
                    float: left;
                    width: 55px;
                }
                .headline {
                    float: left;
                    padding-left: 15px;
                }
                div {
                    height: auto;
                    min-height: 0px;
                }
            }
        }
        #more-news-box {
            margin: 0;
            p {
                padding: 0;
                margin: 0;
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: right;
                a {
                    font-family: serif;
                    line-height: 16px;
                    padding-bottom: 1px;
                    background-image: url("../images/enum_leader.png");
                    background-repeat: no-repeat;
                    background-position: left center;
                    padding-left: 16px;
                    display: inline-block;
                    color: white;
                }
            }
            
        }
        #store-image-box {
            width: 280px;
            float: left;
            padding-left: 40px;
            padding-bottom: 25px;
            .store-image {
                width: 280px;
                padding-top: 45px;
                display: block;
                
            }
        }
    }
    
    .index-section {
        background-color: rgb(36, 27, 21);
        .index-box {
            padding-top: 15px;
            float: left;
            padding-left: 20px;
            width: 600px;
            h2 {
                padding: 0;
                margin: 0;
                font-weight: normal;
                font-family: serif;
                font-size: 20px;
                padding-left: 5px;
            }
        }
        
        .progress {
            padding: 0;
            margin: 0;
            height: 5px;
            border-radius: 0px;
            .bar {
                background-color: orange;
                background-image: none;
            }
        }
        
    }
    #lower-conent-box {
        padding-top: 30px;
    }
    .fb-like-box {
        margin-left: 20px;
    }
    #contact-box {
        height: 215px;
        padding-left: 20px;
        #map-frame {
            float: left;
            padding-right: 20px;
        }
        
        #info-box {
            h3 {
                padding: 0;
                margin: 0;
                font-size: 15px;
                line-height: 20px;
            }
            dl {
                padding: 0;
                margin: 0;
                margin-top: 10px;
                dt {
                    font-size: 11px;
                }
                dd {
                    font-size: 10px;
                    line-height: 12px;
                    padding-bottom: 5px;
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}
#footer {
    #footer-link-box {
        height: 45px;
        background-color: rgb(62, 45, 37);
        padding-top: 2.5px;
        .breadcrumb {
            background-color: transparent;
            padding: 0;
            margin: 0;
            li {
                padding: 0;
                margin: 0;
                color: white;
                font-size: 12px;
                line-height: 12px;
                a {
                    color: white;
                    text-shadow: none;
                }
            }
        }
        #sns-footer-buttons {
            padding-top: 10px;
            padding-left: 50px;
            font-size: 0px;
            .fb-like {
                font-size: 0px;
            }
            .twitter-share-button-box {
                display: inline-block;
                .twitter-share-button {
                    width: 110px !important;
                    padding-top: 1px;
                }
            }
        }
    }
    #copyright-box {
        height: 25px;
        background-color: rgb(232, 129, 51);
        p {
            line-height: 25px;
            height: 25px;
            font-size: 12px;
            color: rgb(122, 42, 19);
            padding: 0;
            margin: 0;
            text-align: center;
            font-family: serif;
        }
    }
}

// facebook like box
.fb-like-box {background-color: #fff; }

ul.banners {
    list-style: none;
    padding-top: 5px;
    li {
        margin-top: 20px;
    }
}