.background-gradient(@top, @bottom) {
    //background:                     @bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, from(@top), to(@bottom)); 
    background-image: -webkit-linear-gradient( @top , @bottom ); 
    background-image:    -moz-linear-gradient( @top , @bottom ); 
    background-image:     -ms-linear-gradient( @top , @bottom ); 
    background-image:      -o-linear-gradient( @top , @bottom ); 
    background-image:         linear-gradient( @top , @bottom );
}

@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;
@serif: @serifFontFamily;

body {
    background-color: black;
    font-family: @sansFontFamily;
}

#header {
    height: 118px;
    background-color: rgb(254, 254, 254);
    border-bottom: 3px solid rgb(224, 109, 30);
    border-top: 2px solid black;
    position: relative;
    #header-right-upper-links {
        padding-top: 20px;
        margin-left: 75px;
        width: 220px;
        a:hover {
            text-decoration: none;
        }
        .link-text {
            color: black;
            text-decoration: underline;
            padding-right: 10px;
        }
    }
    .logo {
        position: absolute;
        padding:0;
        margin:0;
        top: 0px;
        
        img {
            width: 278px;
            height: 118px;
        }
    }
    .navbar {
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 0;
        height: 40px;
        z-index: 10;
        .navbar-inner {
            margin-left: 90px;
            border: none;
            box-shadow: none;
            background-color: transparent;
            background-image: none;
            .nav {
                .active a {
                    background-image: url("../images/orange_table.png");
                    box-shadow: none;
                    color: white;
                }
                li {
                    font-size: 16px;
                    width: 160px;
                    text-align: center;
                    line-height: 40px;
                    &.small {
                        font-size: 12px;
                        line-height: 20px;
                    }
                    a {
                        padding: 0;
                        font-family: @serif;
                        color: black;
                        text-shadow: none;
                    }
                }
            }
        }
    }
}

#content {
    color: white;
    background-color: black;
    border-top: 2px solid rgb(66, 66, 66);
    .link-hierarchy {
        font-size: 10px;
        line-height: 25px;
        height: 25px;
        .container {
            padding-left: 40px;
        }
        padding-left: 15px;
        background-color: rgb(62, 45, 37);
        a {
            color: white;
            text-decoration: underline;
        }
    }
    #menu-banner {
        background-color: black;
        text-align: center;
        border-bottom: 1px solid rgb(84, 84, 84);
        img {
            width: 941px;
            height: 117px;
        }
    }
    #slide-section {
        
        #top-slide-show-box {
            
            height: 350px;
            padding-top: 8px;
            padding-bottom:0;
            position: relative;
            #takumi-image {
                display: block;
                position: absolute;
                top: 10px;
                left: 800px;
                width: 421px;
                height: 320px;
            }
            .carousel {
                padding-bottom: 0;
                margin-bottom: 0;
            }
            .carousel-inner {
                .item {
                    height: 320px;
                    img{
                        width: 960px;
                        height: 320px;
                    }
                }
            }
            .carousel-indicators {
                height: 30px;
                li {
                    padding: 0;
                    margin: 0;
                    width: 10px;
                    height: 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-left: 5px;
                    margin-right: 5px;
                    background-color: white;
                }
                .active {
                    background-color: orange;
                }
                //padding-top: 10px;
                position: static;
                width: 20px * 5;
                margin: 0 auto;
            }
        }
    }

    #menu-section {
        padding-bottom: 50px;
        #menu-index {
            padding-top: 25px;
            .stroke-box {
                padding-top: 0;
            }
        }
        .breadcrumb {
            background-color: transparent;
            padding: 0;
            margin: 0;
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 20px;
            li {
                background-image: url("../images/enum_leader.png");
                background-repeat: no-repeat;
                background-position: left center;
                padding-left: 16px;
                padding-right: 20px;
                color: white;
                font-family: @serif;
                font-size: 12px;
                line-height: 16px;
                a {
                    display: inline-block;
                    color: white;
                    text-shadow: none;
                }
            }
        }
        .menu-box {
            clear: left;
            padding-top: 40px;
            padding-left: 20px;
            h3 {
                padding: 0;
                margin: 0;
                font-weight: normal;
                font-family: @serif;
                font-size: 14px;
                line-height: 22px;
                border-bottom: 1px dotted white;
                margin-bottom: 10px;
                padding-left: 5px;
            }
            .menu-content {
                padding-left: 10px;
                padding-right: 10px;
                .row-fluid {
                    padding-top: 10px;
                    .span4 {
                        min-height: 0px;
                    }
                }
                h4 {
                    padding: 0;
                    margin: 0;
                    font-size: 14px;
                    line-height: 20px;
                }
                img {
                    display: block;
                    padding-top: 5px;
                    padding-bottom: 10px;
                    width: 100%;
                }
            }
            
        }
    }

    #sanuki-section {
        padding-bottom: 60px;
        .sanuku-section-title {
            display: block;
            padding-top: 30px;
        }
        .subsection-content {
            padding-left: 20px;
            padding-top: 15px;
        }
        .row-fluid {
            .span-image {
                float: left;
                width: 280px;
                &.larger {
                    width: 345px;
                }
            }
            .span-sentence {
                float: left;
                width: 180px;
                &.left {
                    width: 250px;
                    margin-right: 10px;
                }
                p {
                    padding: 0;
                    margin: 0;
                    font-size: 13px;
                    line-height: 15px;
                }
            }
        }
    }
    
    #tamoya-section, #how-to-order-section {
        padding-bottom: 50px;
        #title-index {
            padding-top: 25px;
            position: relative;
        }
    }
    
    
    #news-section {
        border-top: 1px solid rgb(63, 55, 49);
        ul.news-list {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-top: 2px;
            padding-left: 18px;
            li {
                font-size: 12px;
                padding: 0;
                margin: 0;
                line-height: 25px;
                width: 100%;
                clear: left;
                .date {
                    float: left;
                    width: 60px;
                }
                .headline {
                    float: left;
                    padding-left: 15px;
                }
                div {
                    height: auto;
                    min-height: 0px;
                }
            }
        }
        #more-news-box {
            margin: 0;
            p {
                padding: 0;
                margin: 0;
                padding-top: 30px;
                padding-bottom: 10px;
                text-align: right;
                a {
                    font-family: @serif;
                    line-height: 16px;
                    padding-bottom: 1px;
                    background-image: url("../images/enum_leader.png");
                    background-repeat: no-repeat;
                    background-position: left center;
                    padding-left: 16px;
                    display: inline-block;
                    color: white;
                }
            }
            
        }
        #store-image-box {
            width: 280px;
            float: left;
            padding-left: 40px;
            padding-bottom: 25px;
            .store-image {
                width: 280px;
                padding-top: 43px;
                display: block;
                
            }
        }
    }

    .index-section {
        background-color: rgb(36, 27, 21);
        .index-box {
            padding-top: 6px;
            float: left;
            padding-left: 20px;
            width: 600px;
            .index-content {
                padding-left: 10px;
                p.short-description {
                    padding: 0;
                    margin: 0;
                    padding-top: 20px;
                    padding-bottom: 40px;
                }
                .step {
                    .step-image {
                        float: left;
                        width: 180px;
                        margin-right: 20px;
                    }
                    .step-content {
                        float: left;
                        width: 380px;
                        p {
                            padding: 0;
                            margin: 0;
                            padding-top: 10px;
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                    
                }
                .arrow-box {
                    width: 590px;
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 20px;
                    img {
                        display: block;
                        width: 100px;
                        margin: 0 auto;
                    }
                }
            }
            h2 {
                padding: 0;
                margin: 0;
                font-weight: normal;
                font-family: @serif;
                font-size: 18px;
                padding-left: 5px;
                height: 26px;
            }
            .stroke-box {
                height: 3px;
                padding-top: (20px - 3px) / 2.0;
                padding-bottom: (20px - 3px) / 2.0;
            }
            
            .subsection {
                &#noodle-subsection {
                    padding-top: 20px;
                }
                padding-right: 15px;
                padding-left: 0px;
                padding-bottom: 40px;
                &#gifts-subsection {
                    padding-bottom: 20px;
                }
                .section-title-image {
                    height: 45px;
                    float: none;
                    padding-top: 20px;
                    display: block;
                }
                p {
                    padding: 0;
                    margin: 0;
                    font-size: 14px;
                    line-height: 15px;
                    padding-bottom: 10px;
                    &.introduction {
                        font-weight: bold;
                        
                    }
                    
                }
            }
            
        }
        
    }
    #lower-conent-box {
        padding-top: 30px;
    }
    .fb-like-box {
        margin-left: 20px;
    }
    #contact-box {
        #map-box {
            float: left;
            width: 250px;
            margin-right: 20px;
            #map_canvas {
                height: 200px;
            }
            p {
                padding: 0;
                margin: 0;
                text-align: right;
                font-size: 12px;
                a {
                    color: white;
                }
            }
        }
        
        //height: 215px;
        height: 230px;
        padding-left: 20px;
        #map-frame {
            float: left;
            padding-right: 20px;
        }
        
        #info-box {
            h3 {
                padding: 0;
                margin: 0;
                font-size: 15px;
                line-height: 20px;
            }
            dl {
                padding: 0;
                margin: 0;
                margin-top: 10px;
                dt {
                    font-size: 11px;
                }
                dd {
                    font-size: 10px;
                    line-height: 12px;
                    padding-bottom: 5px;
                    a {
                        color: white;
                    }
                }
            }
        }
    }

    #tamoya-section {
        h3 {
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            padding: 0;
            margin: 0;
            padding-top: 20px;
            padding-left: 10px;
            
        }
        p.description {
            font-weight: normal;
            font-size: 10px;
            line-height: 15px;
            padding: 0;
            margin: 0;
            padding-top: 20px;
            padding-left: 10px;
        }
        img#tamoya-kurokawa-image {
            float: right;
            padding-left: 10px;
        }
        img#stamp-image {
            float: right;
            display: block;
            bottom: 0px;
            position: absolute;
            right: 240px;
        }
    }
}
#footer {
    #footer-link-box {
        height: 45px;
        background-color: rgb(50, 35, 30);
        .breadcrumb {
            background-color: transparent;
            padding: 0;
            margin: 0;
            li {
                padding: 0;
                margin: 0;
                color: white;
                font-size: 10px;
                //line-height: 10px;
                line-height: 45px;
                a {
                    color: white;
                    text-shadow: none;
                }
            }
        }
        #sns-footer-buttons {
            padding-top: 10px;
            padding-left: 50px;
            font-size: 0px;
            .fb-like {
                font-size: 0px;
            }
            .twitter-share-button-box {
                display: inline-block;
                .twitter-share-button {
                    width: 110px !important;
                    padding-top: 1px;
                }
            }
        }
    }
    #copyright-box {
        height: 25px;
        background-color: rgb(232, 129, 51);
        p {
            font-weight: bold;
            line-height: 25px;
            height: 25px;
            font-size: 10px;
            color: rgb(122, 42, 19);
            padding: 0;
            margin: 0;
            text-align: center;
            font-family: @serif;
        }
    }
}

// facebook like box
.fb-like-box {background-color: #fff; }

ul.banners {
    list-style: none;
    padding-top: 5px;
    li {
        margin-top: 25px;
    }
}
